.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  margin: 0;
  padding: 0;
  max-width: 219px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.card__heart {
  background: transparent url(../images/like_inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__heart:hover {
  opacity: 0.5;
  cursor: pointer;
}
