.footer {
  color: #545454;
}

.footer__copyright {
  margin: 67px 18px 36px 0px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    max-width: 282px;
  }

  .footer__copyright {
    font-size: 14px;
    margin-top: 48px;
  }
}
