.header {
  margin-top: 45px;
  min-height: 74px;
  border-bottom: 1px solid;
  border-color: rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 320px) {
  .header {
    margin: 28px 0 0;
    min-height: 56px;
    max-width: 100%;
  }

  .header__logo {
    min-height: 24px;
    width: 126px;
    margin: 0 0 0 27px;
  }
}
